In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./students.csv')
df

,national_code,student_no,name_fa,name_en,father_name,birth_date,mobile,major
0,1696528178,9231001,حمید - اعلم,hamid - Alam,شيخمراد,1374/04/20,9365910930,مهندسی کامپیوتر
1,9314560254,9231029,مهدی - نوری,mahdi - Noori,محمد حسن,1374/04/24,9974409571,مهندسی کامپیوتر
2,7572394244,9231025,احمد - مقدسی,ahmad - Moghadasi,سید خلیل,1374/03/20,9097785414,مهندسی کامپیوتر
3,8580902696,9231008,وحید - رستمی,vahid - Rostami,محمد,1374/06/20,9023833390,مهندسی کامپیوتر
4,4393208125,9231024,حامد - مظلومی,hamed - Mazloomi,موسي,1374/07/03,9077923302,مهندسی کامپیوتر
...,...,...,...,...,...,...,...,...
85,4614900789,9217009,داود - شراهی,davod - Sharahi,شهريار,1374/06/25,9131005237,مهندسی شیمی
86,6682796319,9217001,رضا - بیدخوری,reza - Bidkhori,حجت,1374/12/20,9014150099,مهندسی شیمی
87,4650210511,9217003,حامد - تقوی,hamed - Taghavi,علی,1374/06/01,9917575418,مهندسی شیمی
88,9254836356,9217004,محمد - جعفری,mohammad - Jafari,محمد,1374/01/03,9972924989,مهندسی شیمی
89,1885502950,9217008,حسن - خوش خلق,hasan - Khosh kholgh,يوسف,1374/06/28,9996028479,مهندسی شیمی

In [3]:
df.birth_date = df.birth_date.str.replace('/', '-')
df

,national_code,student_no,name_fa,name_en,father_name,birth_date,mobile,major
0,1696528178,9231001,حمید - اعلم,hamid - Alam,شيخمراد,1374-04-20,9365910930,مهندسی کامپیوتر
1,9314560254,9231029,مهدی - نوری,mahdi - Noori,محمد حسن,1374-04-24,9974409571,مهندسی کامپیوتر
2,7572394244,9231025,احمد - مقدسی,ahmad - Moghadasi,سید خلیل,1374-03-20,9097785414,مهندسی کامپیوتر
3,8580902696,9231008,وحید - رستمی,vahid - Rostami,محمد,1374-06-20,9023833390,مهندسی کامپیوتر
4,4393208125,9231024,حامد - مظلومی,hamed - Mazloomi,موسي,1374-07-03,9077923302,مهندسی کامپیوتر
...,...,...,...,...,...,...,...,...
85,4614900789,9217009,داود - شراهی,davod - Sharahi,شهريار,1374-06-25,9131005237,مهندسی شیمی
86,6682796319,9217001,رضا - بیدخوری,reza - Bidkhori,حجت,1374-12-20,9014150099,مهندسی شیمی
87,4650210511,9217003,حامد - تقوی,hamed - Taghavi,علی,1374-06-01,9917575418,مهندسی شیمی
88,9254836356,9217004,محمد - جعفری,mohammad - Jafari,محمد,1374-01-03,9972924989,مهندسی شیمی
89,1885502950,9217008,حسن - خوش خلق,hasan - Khosh kholgh,يوسف,1374-06-28,9996028479,مهندسی شیمی

In [12]:
def split_name(row):
    names = row['name_en'].split(' - ')
    row['first_name_en'] = names[0]
    row['last_name_en'] = names[1]
    return row

In [14]:
df = df.apply(split_name, axis=1)

In [16]:
df.to_csv('./students-modified.csv', index=False)

In [17]:
df = pd.read_csv('./faculty.csv')
df.birth_date = df.birth_date.str.replace('/', '-')
df = df.apply(split_name, axis=1)
df.to_csv('./faculty-modified.csv', index=False)